@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --background-color: #14213d;
    --white-color: #fff;
    --h3-color: #212529;
    --span-color: #343a40;
}

::selection {
    background: #adb5bd;
}

body {
    background: var(--background-color);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: rgba( 2, 2, 2, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 1, 0.20);
    backdrop-filter: blur( 3px);
    -webkit-backdrop-filter: blur( 3px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    height: 300px;
    width: 200px;
    margin: 0 3rem;
    border-radius: 0.6rem;
}

.card:hover .image {
    transition: 0.3s ease all;
    filter: blur(1px);
}

.card.one {
    position: relative;
}

.card.one .card-content {
    position: absolute;
    opacity: 0;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    bottom: 30%;
    text-align: center;
    color: var(--white-color);
}

.card.one:hover .card-content {
    opacity: 1;
    transition: 0.5s ease;
}

.card .card-content span {
    color: var(--span-color);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.card.one img {
    position: absolute;
    width: 100%;
    border-radius: 0.5rem;
}